.wb-common-widget-link {
    display: block;
    text-decoration: none;
    color: inherit;
}

.wb-common-widget-link :first-child {
    margin-top: 0px;
}
.wb-common-widget-link :last-child {
    margin-bottom: 0px;
}
.wb-common-widget-link * {
    margin-left: 0px;
    margin-right: 0px;
}