#am-wb-common-media-container {}

#am-wb-common-media-container > .object-fill {
	object-fit: fill;
}

#am-wb-common-media-container > .object-contain {
	object-fit: contain;
}

#am-wb-common-media-container > .object-cover {
	object-fit: cover;
}

#am-wb-common-media-container > .object-none {
	object-fit: none;
}

#am-wb-common-media-container > .object-scale-down {
	object-fit: scale-down;
}
 

#am-wb-common-media-container > #cover {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

#am-wb-common-media-container > #media {
	position: relative;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
