/*
* CSS for overlays
*/

.overlay-parent {
	position: relative;
}

.overlay-top,
.overlay-bottom,
.overlay-left,
.overlay-right{
  position: absolute;
  opacity: 0.75;
  overflow: hidden;
  transition: .5s ease;	
}

.overlay-top,
.overlay-bottom {	
  width: 100%;
  height:0;
}

.overlay-parent:hover .overlay-top,
.overlay-parent:hover .overlay-bottom {
  height: 48px;
}

.overlay-top {
  top: 0;
  left: 0;
  right: 0;
}

.overlay-bottom {
  bottom: 0;
  left: 0;
  right: 0;
}


.overlay-left,
.overlay-right {
  width: 0;
  height: 100%;
}

.overlay-parent:hover .overlay-left,
.overlay-parent:hover .overlay-right {
  width: 64px;
}

.overlay-left {
  left: 0;
  top: 0;
  bottom: 0;
}

.overlay-right {
  right: 0;
  top: 0;
  bottom: 0;
}

