<div>
    <md-button 
    	class="md-icon-button" >
    	<wb-icon>wb-common-aparat</wb-icon>
    </md-button>
    
	<md-input-container>
		<input 
			type="text"
			ng-model="value"
			ng-change="valueChanged(value)">
	</md-input-container>
</div>
