<div>
	<md-button 
		class="md-icon-button" 
		aria-label="Youtube clip"> 
		<wb-icon>wb-common-youtube</wb-icon>
	</md-button>
	<md-input-container> 
		<input 
			type="text"
			ng-model="value"
			ng-change="valueChanged(value)"> 
	</md-input-container>
</div>

