<div>
    <md-button
        ng-if="!ctrl.type"
        aria-label="{{feature.title}}"
        ng-class="{'md-icon-button': wbIconButton}">
        <ng-transclude flex></ng-transclude>
    </md-button>
    
    <!--editable and non-editable mode-->
    <md-button
        ng-if="ctrl.type === 'action' && editable"
        aria-label="{{feature.title}}"
        ng-class="{'md-icon-button': wbIconButton}">
        <ng-transclude flex></ng-transclude>
    </md-button>
    <md-button
        ng-if="ctrl.type === 'action' && !editable"
        aria-label="{{feature.title}}"
        ng-click="runAction()"
        ng-class="{'md-icon-button': wbIconButton}">
        <ng-transclude flex></ng-transclude>
    </md-button>
    
    <!--editable and non-editable mode-->
    <md-button
        ng-if="ctrl.type === 'link' && editable"
        aria-label="{{feature.title}}"
        ng-class="{'md-icon-button': wbIconButton}">
        <ng-transclude flex></ng-transclude>
    </md-button>
    <md-button
        ng-if="ctrl.type === 'link' && !editable"
        aria-label="{{feature.title}}"
        ng-href="{{ctrl.link}}"
        ng-class="{'md-icon-button': wbIconButton}">
        <ng-transclude flex></ng-transclude>
    </md-button>
    
    <!--editable and non-editable mode-->
    <md-button
        ng-if="ctrl.type === 'internal-link' && editable"
        aria-label="{{feature.title}}"
        ng-class="{'md-icon-button': wbIconButton}">
        <ng-transclude flex></ng-transclude>
    </md-button>
    <md-button
        ng-if="ctrl.type === 'internal-link' && !editable"
        aria-label="{{feature.title}}"
        ng-click="runAction()"
        ng-class="{'md-icon-button': wbIconButton}">
        <ng-transclude flex></ng-transclude>
    </md-button>
</div>