<!-- corner radius section -->
<md-list class="wb-setting-panel"> 
	<md-input-container class="md-icon-float md-block">
		<label translate>Label</label>
		<input 
			ng-model="ctrl.action.label" 
			ng-model-options="{debounce:500}"
			ng-change="ctrl.updateAction(ctrl.action)"
			type="text">
	</md-input-container>
	
	<wb-ui-setting-dropdown 
		title="Action type" 
		icon="border_left"
		items="types" 
		ng-model=".action.type"
		ng-model-options="{debounce:500}"
		ng-change="ctrl.updateAction(ctrl.action)">
	</wb-ui-setting-dropdown>
	
	<!-- 	Link -->
	<md-input-container 
		ng-show="ctrl.action.type=='link'"
		class="md-icon-float md-block">
		<label>Link</label>
		<input 
			ng-model="ctrl.action.link" 
			ng-model-options="{debounce:500}"
			ng-change="ctrl.updateAction(ctrl.action)"
			type="text">
	</md-input-container>

</md-list>
