<md-list class="wb-setting-panel"> 

	<!-- SECTION: Source -->
	<wb-ui-setting-audio
    	title="Source" 
        ng-model="ctrl.content.url"
        ng-model-options="{debounce:500}"
        ng-change="ctrl.contentChanged()">
	</wb-ui-setting-audio>
	
	<md-input-container class="md-icon-float md-block">
		<label trnslate>Type</label>
		<input
			ng-model="ctrl.content.mimeType" 
			ng-model-options="{debounce:500}"
			ng-change="ctrl.contentChanged()"
			type="text" 
			aria-label="MIME Type">
	</md-input-container>

	<wb-ui-setting-on-off-switch 
		title="Autoplay?" 
		icon="play_arrow" 
		ng-model="ctrl.setting.autoplay"
		ng-model-options="{debounce:500}"
		ng-change="ctrl.settingChanged()">
	</wb-ui-setting-on-off-switch>
	
	<wb-ui-setting-on-off-switch 
		title="Controls?" 
		icon="swap_horiz" 
		ng-model="ctrl.setting.controls"
		ng-model-options="{debounce:500}"
		ng-change="ctrl.settingChanged()">
	</wb-ui-setting-on-off-switch>
	
	<wb-ui-setting-on-off-switch 
		title="Loop?" 
		icon="replay" 
		ng-model="ctrl.setting.loop"
		ng-model-options="{debounce:500}"
		ng-change="ctrl.settingChanged()">
	</wb-ui-setting-on-off-switch>

	<wb-ui-setting-dropdown 
		title="Preload" 
		icon="cached"
		items="[{'title':'auto','value':'auto'},
				{'title':'metadata','value':'metadata'},
				{'title':'none','value':'none'}]" 
		ng-model="ctrl.setting.preload"
		ng-model-options="{debounce:500}"
		ng-change="ctrl.settingChanged()">
	</wb-ui-setting-dropdown>

</md-list>
