<div class="md-toolbar-tools">
	<span flex></span>
	<md-button 
		ng-click="ctrl.addFeature()""
		class="md-icon-button" 
		aria-label="Add featrue">
		<wb-icon>add</wb-icon>
	</md-button>
</div>

<md-list> 
	<md-list-item 
		ng-repeat="feature in ctrl.features track by $index" 
		ng-click = "ctrl.editFeature(feature, $index)"
		class="noright">
		<img 
			ng-src="{{feature.image}}" 
			width="32px" 
			height="32px"
			class="md-avatar-icon"/>
		<p>{{feature.title}}</p>
		<wb-icon 
			ng-show="$index<ctrl.features.length-1"
			ng-click="ctrl.moveDownFeature($index)"
			class="md-secondary md-hue-3" 
			aria-label="Move down" >wb-common-movedown</wb-icon>
		<wb-icon 
			ng-show="$index>0"
			ng-click="ctrl.moveUpFeature($index)"
			class="md-secondary md-hue-3" 
			aria-label="Move up">wb-common-moveup</wb-icon>
		<wb-icon
			class="md-secondary" 
			ng-click="ctrl.removeFeature($index)" 
			aria-label="Delete">delete</wb-icon>
	</md-list-item>
</md-list> 


