<div 
    layout-padding
    layout="column">
    <wb-ui-setting-link
        title="URL" 
        ng-model="ctrl.url"
        ng-change="ctrl.urlChanged()"
        ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}">
    </wb-ui-setting-link>
    <a 
        ng-if="ctrl.canonicalLink"
        href="{{ctrl.canonicalLink}}" 
        target="_blank">
        <span translate="">Navigate to the page containing imported widget</span>
    </a>
</div>