<div layout="column">
    <div layout="row" flex>
        <md-button ng-click="ctrl.addTab()">
            <span translate="">New tab</span>
        </md-button>
    </div>

    <md-subheader 
        class="md-hue-3">
        <span translate>List of tabs</span>
    </md-subheader>
    
    <md-list flex>
        <md-list-item 
            ng-repeat="tab in wbModel.tabs track by $index">
            <img ng-if="tab.icon" ng-src="{{tab.icon}}" class="md-avatar" />

            <am-wb-inline 
                ng-model="tab.label"
                am-wb-inline-type="text"
                am-wb-inline-label="Title"
                am-wb-inline-enable="true">
                <span>{{tab.label}}</span>
            </am-wb-inline>
            <wb-icon ng-click="ctrl.deleteTab($index)" class="md-secondary" aria-lable="Delete tab">delete</wb-icon>
        </md-list-item>
    </md-list>
</div>