<wb-ui-setting-color 
    title="Fill" 
    wb-ui-setting-clear-button="true"
    wb-ui-setting-preview="true"
    ng-model="ctrl.fill"
    ng-change="ctrl.styleChanged('fill', ctrl.fill)">
</wb-ui-setting-color>
<wb-ui-setting-color 
    title="Stroke" 
    wb-ui-setting-clear-button="true"
    wb-ui-setting-preview="true"
    ng-model="ctrl.stroke"
    ng-change="ctrl.styleChanged('stroke', ctrl.stroke)">
</wb-ui-setting-color>

<wb-ui-setting-length
    title="Stroke width"
    icon="corner_bottom_right"
    ng-model="ctrl.strokeWidth"
    ng-change="ctrl.styleChanged('strokeWidth', ctrl.strokeWidth)"
    extra-values="[]">
</wb-ui-setting-length>


<md-input-container>
	<label translate>Content</label>
	<input 
		ng-model-options="{updateOn : 'change blur'}"
		ng-model="ctrl.content" 
    	ng-change="ctrl.contentChanged(ctrl.content)"
		type="text">
</md-input-container>