<!-- fill - This is default. The replaced content is sized to fill the element's content box. If necessary, the object will be stretched or squished to fit -->
<!-- contain - The replaced content is scaled to maintain its aspect ratio while fitting within the element's content box -->
<!-- cover - The replaced content is sized to maintain its aspect ratio while filling the element's entire content box. The object will be clipped to fit -->
<!-- none - The replaced content is not resized -->
<!-- scale-down - The content is sized as if none or contain were specified (would result in a smaller concrete object size) -->


<fieldset
    layout="column"> 
    <legend translate>Media</legend>
    <am-wb-setting-youtube 
        ng-if="ctrl.type === 'YoutubeVideoPlayer'"
        title="YouTube source" 
        lable="Enter YouTube URL"
        ng-model="ctrl.url"
        ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}"
        ng-change="ctrl.updateUrl()">
    </am-wb-setting-youtube>
    <am-wb-setting-aparat 
        ng-if="ctrl.type === 'AparatVideoPlayer'"
        title="Aparat source" 
        lable="Enter aparat URL"
        ng-model="ctrl.url"
        ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}"
        ng-change="ctrl.updateUrl()">
    </am-wb-setting-aparat>

    <wb-ui-setting-video
        ng-if="ctrl.type === 'CommonVideoPlayer'"
        title="Video source" 
        lable="Enter video URL"
        ng-model="ctrl.url"
        ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}"
        ng-change="ctrl.updateUrl()">
    </wb-ui-setting-video>
    <md-input-container
        ng-show="ctrl.type === 'CommonVideoPlayer'"
        class="md-icon-float md-block">
        <label>Type</label>
        <input 
            ng-model="ctrl.mimeType" 
            ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}"
            ng-change="ctrl.updateMimeType()"
            type="text" 
            aria-label="MIME Type">
    </md-input-container>
</fieldset>

<fieldset
    ng-if="ctrl.type === 'CommonVideoPlayer'"
    layout="column"> 
    <legend translate>Preview</legend>
    <wb-ui-setting-image
        title="Poster" 
        ng-model="ctrl.poster"
        ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}"
        ng-change="ctrl.updatePoster()">
    </wb-ui-setting-image>
    <wb-ui-setting-dropdown 
        title="Fit" 
        icon="cached"
        items="[{'title':'fill','value':'fill'},
        {'title':'contain','value':'contain'},
        {'title':'cover','value':'cover'},
        {'title':'scale-down','value':'scale-down'},
        {'title':'none','value':'none'}]" 
        ng-model="ctrl.fit"
        ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}"
        ng-change="ctrl.updateFit()">
    </wb-ui-setting-dropdown>
    <wb-ui-setting-dropdown 
        title="Preload" 
        icon="cached"
        items="[{'title':'auto','value':'auto'},
        {'title':'metadata','value':'metadata'},
        {'title':'none','value':'none'}]" 
        ng-model="ctrl.preload"
        ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}"
        ng-change="ctrl.updatePreload()">
    </wb-ui-setting-dropdown>
</fieldset>

<fieldset
    layout="column"> 
    <legend translate>Controllers</legend>
    <wb-ui-setting-on-off-switch 
        title="Autoplay" 
        icon="play_arrow" 
        ng-model="ctrl.autoplay"
        ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}"
        ng-change="ctrl.updateAutoplay()">
    </wb-ui-setting-on-off-switch>
    <wb-ui-setting-on-off-switch 
        title="Controls" 
        icon="swap_horiz" 
        ng-model="ctrl.controls"
        ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}"
        ng-change="ctrl.updateControls()">
    </wb-ui-setting-on-off-switch>
    <wb-ui-setting-on-off-switch 
        title="Loop" 
        icon="replay" 
        ng-model="ctrl.loop"
        ng-model-options="{debounce: {'default': 500, 'blur': 0, '*': 1000}, updateOn: 'default blur click'}"
        ng-change="ctrl.updateLoop()">
    </wb-ui-setting-on-off-switch>
</fieldset>
