<md-dialog
    aria-label="Feature item config" 
    ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2 translate>Link settings</h2>
            <span flex></span>
            <md-button aria-label="Done" class="md-icon-button" ng-click="answer(model)">
                <wb-icon aria-label="Save change">done</wb-icon>
            </md-button>
            <md-button aria-label="Close" class="md-icon-button" ng-click="cancel()">
                <wb-icon aria-label="Close dialog">close</wb-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content layout-padding>
        <md-tabs 
            md-dynamic-height 
            md-border-bottom>
            <md-tab label="View">
                <md-content layout="column">
                    <!-- Submit form -->
                    <wb-ui-setting-image
                        title="Image" 
                        ng-model="model.image">
                    </wb-ui-setting-image>

                    <md-input-container>
                        <label translate>Title</label>
                        <input ng-model="model.title">
                    </md-input-container>

                    <md-input-container>
                        <label translate>Text</label>
                        <input ng-model="model.text">
                    </md-input-container>
                </md-content>
            </md-tab>
            <md-tab label="Action">
                <md-content layout="column">

                    <md-input-container>
                        <label translate>Select type</label>
                        <md-select 
                            ng-model="model.action.type">
                            <md-option 
                                value="link">
                                <span translate>Link</span>
                            </md-option>
                            <md-option 
                                value="internal-link">
                                <span translate>Internal link</span>
                            </md-option>
                        </md-select>
                    </md-input-container>

                    <md-input-container>
                        <label translate>{{model.action.type}}</label>
                        <input ng-model="model.action.link">
                    </md-input-container>

                    <md-input-container>
                        <label translate>Label</label>
                        <input ng-model="model.action.label">
                    </md-input-container>
                </md-content>
            </md-tab>
        </md-tabs>
    </md-dialog-content>
</md-dialog>
