<audio 
	ng-attr-autoplay="{{wbModel.setting.autoplay | trueOrUndefined}}" 
	ng-attr-controls="{{wbModel.setting.controls | trueOrUndefined}}" 
	ng-attr-loop="{{wbModel.setting.loop | trueOrUndefined}}" 
	poster="images/wallpaper.jpg"
	preload="{{wbModel.setting.preload}}">
	<source 
		src="{{wbModel.content.url}}" 
		type="{{wbModel.content.mimeType}}" />
	<span 
		translate>Your browser does not support the audio tag. It seems your browser is too old!</span>
</audio>
