<div
	layout="row" 
	layout-wrap 
	layout-padding>
	<!-- tickets -->
	<div
		layout="column" 
		layout-align="center start" 
		flex="100"
		flex-gt-md="50"
		ng-repeat="tile in wbModel.features">
		<h3>{{tile.title}}</h3>
		<p class="md-body-1">{{tile.text}}</p>
		<md-button 
			ng-if="tile.action.type"
			class="md-primary" 
			ng-click="featuresCtrl.runAction(tile, null, $event)"
			ng-href="{{tile.action.link}}">
			<md-icon ng-if="tile.action.icon">{{tile.icon}}</md-icon>
			<span>More</span>
		</md-button>
	</div>
	<md-button 
		class="md-raised md-primary md-icon-button"
		ng-if="wbEditable" 
		aria-label="Add feature" 
		ng-click="featuresCtrl.addFeature()">
		<wb-icon>add</wb-icon>
	</md-button>
</div>