<div
    wb-layout="wbModel.style">
	<!-- Links -->
    <md-button  
		ng-repeat="feature in wbModel.features track by $index"
		class="md-primary" 
		ng-click="featuresCtrl.runAction(feature, null, $event)"
		ng-href="{{feature.action.link}}">
        <wb-icon ng-if="feature.action.icon">{{feature.icon}}</wb-icon>
        {{feature.title}}
    </md-button>
</div>