<div 
    id="am-wb-common-media-container" 
    class="wb-widget-fill">
	<!-- video widget -->
    <wb-group 
		wb-editable="false"
		ng-model="ctrl.model"
		wb-on-model-select="ctrl.selectionEventHandler($event)"
    	id="media">
    </wb-group>
   	<div 
		id="cover"
		ng-if="ctrl.isEditable()"></div>
</div>