<div 
    class="wb-widget-fill"
    layout='column'
    layout-padding>
    <md-tabs 
        flex
        md-selected="selectedIndex" 
        md-border-bottom 
        md-autoselect 
        md-swipe-content>

        <md-tab 
            ng-repeat="tab in wbModel.tabs">
            <md-tab-label>
               {{tab.label}}
            </md-tab-label>
            <md-tab-body>
                <md-content style="background-color: inherit;">
                    <wb-group
                        wb-on-model-select="loadSettings($event)"
                        wb-editable="editable"
                        ng-model="wbModel.tabs[selectedIndex]"
                        flex>
                    </wb-group>
                </md-content>
            </md-tab-body>
        </md-tab>
    </md-tabs>
</div>
