<video 
    id="media"
    ng-attr-autoplay="{{ctrl.autoplay | trueOrUndefined}}" 
    ng-attr-controls="{{ctrl.controls | trueOrUndefined}}" 
    ng-attr-loop="{{ctrl.loop | trueOrUndefined}}" 
    poster="{{ctrl.poster}}"
    preload="{{ctrl.preload}}"
    ng-class="{ 'object-fill': ctrl.fit === 'fill', 'object-contain': ctrl.fit === 'contain', 'object-cover': ctrl.fit === 'cover', 'object-none': ctrl.fit === 'none', 'object-scale-down': ctrl.fit === 'scale-down'}">
    <source src="{{ctrl.url}}" type="{{ctrl.mimeType}}" />
    <span>Your browser does not support the video tag. It seems your browser is too old!</span>
</video>
