<div
    itemscope
    itemtype="http://schema.org/MovieClip"
    style="width: 100%; height: 100%;">
    <!--go to http:www.schema.org for a complete information-->
    <span itemprop="description" ng-show="false">{{ctrl.description}}</span>
    <span itemprop="alternativeHeadline" ng-show="false">{{ctrl.label}}</span>
    <span itemprop="discussionUrl" ng-show="false">{{ctrl.url}}</span>
    <span itemprop="keywords" ng-show="false">{{ctrl.keywords}}</span>
    
    <youtube-video
        ng-if="ctrl.url && ctrl.isEditable()"
        style="pointer-events:none"
        player-width="'100%'" 
        player-height="'100%'"
        video-url="ctrl.url">
    </youtube-video>
    
    <youtube-video
        ng-if="ctrl.url && !ctrl.isEditable()"
        player-width="'100%'" 
        player-height="'100%'"
        video-url="ctrl.url">
    </youtube-video>
</div>
